<% if pro_logged_in? -%>
	<div id="pro-login-info" class="login-info"><%= t(:practitioner_login_info_message) %><span id="logged-pro-name"><%= current_pro.email%></span>&nbsp;<%= link_to t(:practitioner_login_info_edit_link), edit_practitioner_url(current_pro)%> | <span class="button rounded"><%= link_to t(:practitioner_login_info_logout_link), logout_url%></span><span id="right-spacer">&nbsp;</div></div>
<% end -%>