<% if pro_logged_in? -%>
	<div id="pro-login-info" class="login-info">You are logged in as: <span id="logged-pro-name"><%= current_pro.email%></span>&nbsp;<%= link_to "Edit", edit_practitioner_url(current_pro)%> | <%= link_to "Logout", logout_url%></div>
<% end -%>