<% unless @current_selected_pro.nil? -%>
	<div id="selected-pro-info">You are booking with: <%= link_to @current_selected_pro.name, @current_selected_pro%> | <%= link_to "Change", edit_selected_practitioner_url%> | <%= link_to "I don't want to book!", clear_selected_practitioner_url%></div>
<% end -%>