<% title "Select a practitioner"%>
<% javascript "edit-selected"%>
<p>Please select a practitioner:</p>
<p><%= render :partial => "practitioners/select", :locals => {:submit_text => "Select >"} %></p>