<% javascript "new-pro"%>
<% title t(:practitioner_new_title) %>

<p><%= t(:practitioner_new_message1)%> <%= link_to t(:practitioner_new_login_link), login_path %></p>
<%= render :partial => "form" %>