<% javascript "waiting-sample-data"%>
<div class="waiting-content">
<%= image_tag "waiting_big.gif"%>
<p id="step1"><%= t(:create_pro_step1_msg)%>...</p>
<p id="step2" class="no-display"><%= t(:create_pro_step2_msg)%>...</p>
<p id="step3" class="no-display"><%= t(:create_pro_step3_msg)%>...</p>
</div>