#no-cancellation{display: none;}
#no-cancellation .warning {font-weight: bold; color: #c00;}
#no-cancellation .phone {font-weight: bold;}
.ui-state-default, .ui-widget-content .ui-state-default { background-color: white;}
div.header a.selected{color: #222; background-color: white;font-weight: bold; padding: 20px;}
.help{color: grey;font-size: 12px;}

/************** practitioner NEW ******************/
#working_days_list li{list-style: none;}
/******************************************/
/************** client NEW MULTIPLE ******************/
.optional{color: grey;font-size: 12px;}
#email_all{background-color: lightgrey;}
/******************************************/
/************** client INDEX PRO ******************/
ul#clients li{list-style: none; padding: 5px;}
ul#clients {padding:0;}
.odd{background-color: lightgrey;}
/******************************************/
/************** client INDEX ******************/
#container-home{margin: 160px 0 0 280px;padding: 10px 24px 10px 24px;background-color: #303030;width:400px;}
#container-home a{color: #0cc;}
#container-home {color:#fff;}
div#book-appointment{background-color: #c33; color: #fff; width: 140px; padding: 10px; text-align: center;float: left;}
div#book-appointment a{color: #fff; font-weight: bold; font-size: 16px; text-decoration: none;}
div#book-appointment a:hover{text-decoration: underline;}
/******************************************/

/************** client SHOW ******************/
#event_edit_container{display: none;}
ul.event-fields li{list-style: none; padding: 5px;}
ul.event-fields li select{float: right;}
#flash_calendar{float: left; margin-left: 20%; font-size: 12px; font-weight: bold;}
#flash_calendar #flash_notice, #flash_calendar #flash_error, #flash_calendar #flash_warning{margin: 0;} 
#flash_calendar #flash_hide{margin: 3px 3px 3px 5px;text-decoration: underline; color: blue;cursor:pointer;}
/******************************************/

body{margin:0;padding:0;}
div.header{background-color: #222; font-size: 14px;	line-height: 1.7em; height: 50px; color:#fff;}
div.header div.container {padding: 10px 0;}
div.header div.container div#general-public-links{float: left;}
div.header div.container div#pro-links{float: right;}
div.header div.container div#pro-links{color: #BCFC3D}
div.header div.container div#pro-links a{color: #BCFC3D}
div.header a {margin-left: 10px; color: #fff; text-decoration: none; line-height: 1.7em;}
div.header div.container div#pro-links a {margin-left: 0px; margin-right: 10px;}
div.header a:hover {text-decoration: underline;}
div#content{margin: 10px;}
div.login-info{float: left;}
div#selected-pro-info{float: right;}
#pro-login, #client-login-info, #pro-login-info, #selected-pro-info{font-size: small; color: grey;}
.cleaner { clear:both; line-height:1%; margin:0; padding:0; width:100%; }
body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
}

#flash_notice, #flash_error, #flash_warning {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_warning {
  background-color: #F48E05;
  border: solid 1px #C66;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
