<% if client_logged_in? -%>
	<div id="client-login-info" class="login-info">  
	<%= link_to t(:login_info_edit_link), edit_client_url(current_client)%> | <%= link_to t(:login_info_logout_link), logout_url%> | <%= t(:login_info_logged_as)%><span id="logged-client-name"><%= current_client.default_name%></span>&nbsp;</div>
<% end -%>