<% title "Comment marche Colibri?"%>
<ol>
	<li>Vous prenez un rendez-vous pour l'un de vos clients</li>
	<li>24 heures avant le rendez-vous, Colibri envoie un rappel à votre client</li>
	<li>Le client confirme via Colibri (ou vous appelle pour annuler son rendez-vous)</li>
</ol>
<p><%= link_to t(:practitioner_sign_up_title), new_practitioner_url(:paying => true)%> <%= t(:or)%> <%= link_to t(:practitioner_new_title), new_practitioner_url%></p>