<% javascript "home"%>
<% use_country_select %>
<p>Colibri gère vos rendez-vous et rappelle automatiquement à vos clients leurs rendez-vous.</p>
<p>Moins d'annulations, plus de temps pour vous concentrer sur votre travail.</p>
<div id="homepage-demo" class="rounded home-rounded">Voir une démonstration</div>
<div id="homepage-pricing" class="rounded home-rounded">Combien ça coûte?</div>
<div id="homepage-signup" class="rounded home-rounded"><%= link_to "Essayez Colibri!", new_practitioner_url%></div>
<div class="cleaner"></div>

