<% title "Welcome to Online Bookings" %>

<div id="book-appointment">Book an appointment with:<br/><br/> <%= render :partial => "practitioners/select", :locals => {:submit_text => "Book now >"} %></div>
<div id="register-pro">Are you a health practitioner? Register with us for a <%= link_to "60-day free trial", new_practitioner_url %></div>
