<% title "Your clients"%>
<%if @clients.blank? -%>
You have no clients for the moment.
<%else -%>
<ul id="clients">
<% @clients.each do |c| -%>
	<li class="<%= cycle('odd', 'even')%>"><%= render :partial => "clients/row", :locals => {:client => c}  %></li>
<%end -%>
</ul>
<% end -%>