<% javascript "home"%>
<div id="container-home" class="rounded"><p><%=t(:colibri_intro)%></p>
<div id="book-appointment" class="rounded"><%= link_to t(:colibri_intro_book_appointment_button), edit_selected_practitioner_url%></div>
<div class="cleaner"></div>
<p> <%=t(:colibri_intro_health_professional)%> <%= link_to t(:colibri_intro_register_trial), new_practitioner_url%></p>