<% javascript "home"%>
<% title "#{APP_CONFIG[:site_name]}"%>
<div class="cleaner"></div>
<p>With Colibri, book an appointment with your health practitioner at anytime, from anywhere. And you get an automatic reminder via email!</p>
<div id="book-appointment" class="rounded"><%= link_to "Book an appointment", edit_selected_practitioner_url%></div>
<div class="cleaner"></div>
<p>Health professional? <%=link_to "Register for a free 60 day trial", new_practitioner_url%>