<% javascript "home"%>
<% title "#{APP_CONFIG[:site_name]}"%>
<div class="cleaner"></div>
<div id="colibri-logo"><%= image_tag "colibri.jpg", :id => "colibri-logo", :size => "80x80" %></div>
<div id="book-appointment" class="rounded"><%= link_to "Book an appointment", edit_selected_practitioner_url%></div>
<div class="cleaner"></div>