<% javascript "home"%>
<div id="container-home" class="rounded"><p><%=t(:colibri_intro)%></p>
<div id="book-appointment" class="rounded"><%= link_to "Book an appointment", edit_selected_practitioner_url%></div>
<div class="cleaner"></div>
<p>Health professional? <%=link_to "Register for a free 30 day trial", new_practitioner_url%></p>