<% title "Welcome to #{APP_CONFIG[:site_name]}" %>

<div id="book-appointment">Book an appointment with:<br/><br/> <%= render :partial => "practitioners/select", :locals => {:submit_text => "Book now >"} %></div>
<div id="pro-register">Are you a health practitioner? <%= link_to "Register with us for a 60-day free trial", new_practitioner_url %></div>
