<% title "Client" %>

<p>
  <strong>Email:</strong>
  <%=h @client.email %>
</p>

<p>
  <%= link_to "Edit", edit_client_path(@client) %> |
  <%= link_to "Destroy", @client, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", clients_path %>
</p>
