<% title t(:make_payment)%>
<% form_for :payment do |f| -%>
<ol>
	<li><%= t(:payment_select_plan) %>:<br/>
		<%= f.select :plan_payment_id, @plans.collect {|p| [p.title, p.id]}%></li>
	<li><%= t(:select_credit_card) %>:<br/>
		
		</li>
</ol>
<% end -%>